body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #34383c;
  text-align: left;
  margin: 0;
  background: #F4F4F4;
      
  }
  .dark-mode {
      background: #34383c;
      color: aliceblue;
  }
  
  
  .navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-size: 33px;
  line-height: inherit;
  white-space: nowrap;
  }
  .d-inline-block {
  display: inline-block!important;
  }
  .rounded-circle {
  border-radius: 50%!important;
  }
  img {
  vertical-align: middle;
  border-style: none;
  margin: 5px
  }
  
  
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  
  .topnav-right {
    float: right;
  }
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  
  .material-icons {
      padding: 0px 0;
      text-align: center;
      margin: 6px;
      display: block;
    }
  
  
  .h1 {
      text-align: center;
      text-align: center;
      
  }
  .main2 {
      padding: 16px;
      margin-top: 60px;
      text-align: center
  }
  
  .main-logo {
      height: 40%;
      width: 40%;
  }
  
  
  .button-index {
      margin-left: auto;
      margin-right: auto;
      
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
      background-color: #0099ff;
    }
    
    li.dropdown {
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .ul-com {
      background-color: #0099ff;
    }
  
    .blue-com {
      background-color: #0099ff;
    }
  
   .com-item:hover {
    color: #333;
   }
   .com-item {
     margin: 0px;
     display: block;
   }
  
   .material-icons.md-36 { 
     font-size: 36px; 
    }
  
  .com-div {
  height: 60px;
  width: 800px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.26);
  display: flex;
      justify-content: space-between;
      font-size: 15px;
    }
  
    .com-header {
      color: #F4F4F4;
      background-color: #333;
      height: 80px;
      width: 800px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.26);
      display: flex;
          justify-content: space-between;
          font-size: 25px;
        }
  
  
  
  .col {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
  }
  
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 50%;
    }
    .col-3 {
      flex-basis: 30%;
    }
  
    .com-item-use {
      background-color: #0099ff;
      margin: 0px;
     display: block;
     color: #333;
    }
  
  
    .home-button-1 {
      margin-top: 40px;
     background-color: #0099ff;
     border: 2px solid #0099ff;
     border-radius: 10px;
     display:inline-block;
     cursor:pointer;
     color:#F4F4F4;
     padding: 16px 35px;
     text-decoration:none;
     margin-right: 5px;
     transition: .3s linear;
    }
  
    .home-button-2 {
     border-radius: 10px;
      border: 2px solid #0099ff;
      display: inline-block;
      cursor: pointer;
      color: #0099ff;
      padding: 16px 35px;
      text-decoration: none;
      transition: .3s linear;
    }
    .home-button-1:hover {
      background-color: #F4F4F4;
      color: #0099ff;
      transform: scale(1.1);
    }
  
    .home-button-2:hover {
      background-color: #0099ff;
      color: #F4F4F4;
      transform: scale(1.1);
    }

    .lang-sel {
      margin-top: auto;
      margin-bottom: auto;
      float: right;
      color: #333;
    }
  
    .material-icons.md-20 {
      font-size: 20px; 
    }