body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
color: #34383c;
text-align: left;
margin: 0;
background: #F4F4F4;
    
}
.dark-mode {
    background: #34383c;
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    position: fixed;
  top: 0;
  width: 100%;
    background: linear-gradient(to right, #66ffff 0%, #3366ff 100%);
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
    color: aliceblue
    
    
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #fff;
    color: #00C1DC;
}

.navbar-brand {
display: inline-block;
padding-top: .3125rem;
padding-bottom: .3125rem;
font-size: 33px;
line-height: inherit;
white-space: nowrap;

}
.d-inline-block {
display: inline-block!important;
}
.rounded-circle {
border-radius: 50%!important;
}
img {
vertical-align: middle;
border-style: none;
margin: 5px
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.topnav-right {
  float: right;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.material-icons {
    padding: 12px 0;
    text-align: center;
    margin: 6px;
}

.material-icons:hover {
    background: rgba(76, 175, 80, 0.0);
    color: black;
    transition: 0,75s;
        
}


.main-com {
    
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
   background: linear-gradient(to top left, #fff 0%, #C8C8C8 100%);
    height: 500px;
    width: 1000px;
    display: grid;
  grid-template-columns: auto auto auto;
}
.com-bar {
    height: 500px;
    width: 250px;
    background: linear-gradient(to bottom,#33ccff  0%, #0099ff 100%)
    
}

.com-tab {
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 6px;
    
    
}

.h1 {
    text-align: center;
    text-align: center;
    
}
.main2 {
    padding: 16px;
    margin-top: 60px;
    text-align: center
}

.main-logo {
    height: 40%;
    width: 40%;
}

.main-img {
    box-shadow: 3px 4px 10px;
    transition: transform .2s;
    
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

#wrapper{
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
}
.my-super-cool-btn{
  position:relative;
  text-decoration:none;
  color:rgba(255, 255, 255, 0.164);
  letter-spacing:1px;
  font-size:4px;
  box-sizing:border-box;
}
.my-super-cool-btn span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:200px;
  height:200px;
}
.my-super-cool-btn span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:7px solid #F3CF14;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn .dots-container{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn .dot{
  width:8px;
  height:8px;
  display:block;
  background-color:#148ff3;
  border-radius:100%;
  position:absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}


@keyframes intro {
   0% {
     opacity:0;
  }
  100% {
     opacity:1;
  }
}


